$darkcharcoal: #333636;

body {
  margin: 50px auto 0;
  padding:0;
  font-family: 'Dosis', sans-serif;
  background-color: #c0c0c0;
}

.nav {
  height: 40px;
  position: fixed;
  width: 100%;
  background-color: $darkcharcoal;
  color: white;
  z-index: 2;
  top:0;
  a {
    font-size: 170%;
    font-weight: bolder;
    margin: 10px 5px;
    text-decoration: none;
    color: white;
    }
    
}  

#container {
  width:90%;
  margin: 80px auto;
}   
.clearfix {
  overflow:auto;
}
    
#left {
  margin: 20px auto;
  width:500px;
  display:inline-block;
}

#image {
  border: 5px solid white;
  border-width: 5px 5px 50px 5px;
  box-shadow: 10px 10px 5px #888888;
}

.faceborder {
    border: 1px dashed black;
    &:hover {
      border: 3px solid black;
    }

}

#charts {
  border:8px solid $darkcharcoal;
  border-radius: 10px;
  padding:40px;
  width:400px;
  margin-bottom:100px;
}

@media (min-width: 1024px){
  #charts {
    float:right;
    margin:auto;
  }
  
}
 
.single-chart {
  border: 1px inset $darkcharcoal;
  padding:20px;
  background-color: darkgray;
  margin:auto;
 
}
.hidden {
  display: none;
}
  
 
#new {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  border: 10px solid $darkcharcoal;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
}
  
#footer {
  height: 50px;
  position: fixed ;
  bottom: 0;
  width: 100%;
  background-color: $darkcharcoal;
  color: white;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
}
  

  
  

  