<div id="footer">
<a>Privacy statement</a><br>
<a href="https://www.projectoxford.ai/"><small>Powered by Microsoft’s Project Oxford </small></a>
<div>
<script>
  $('#footer a').on( 'click', function(){ alert("The image, voice, and/or video understanding capabilities of FaceApiPlayground app use the Microsoft Project Oxford APIs. Microsoft will receive the images, audio, video, and other data that you upload (via this app) for service improvement purposes. To report abuse of the Project Oxford APIs to Microsoft, please visit the Microsoft Project Oxford website at www.projectoxford.ai, and use the “Report Abuse” link at the bottom of the page to contact Microsoft. For more information about Microsoft privacy policies please see their privacy statement here: http://go.microsoft.com/fwlink/?LinkId=521839.")});
  </script>